.label{
	color: white;
	text-align: center;
}
table {
	width: 500px;
	height: 500px;
	font-size: 35px;
	align-content: center;
}
.red{
	background-color: red;
	border-top-left-radius: 300px;
	width: 250px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}
.blue{
	background-color: blue;
	border-bottom-left-radius: 300px;
	width: 250px;
	border-top: 1px solid;
	border-right: 1px solid;
}
.yellow{
	background-color: yellow;
	border-top-right-radius: 300px;
	width: 250px;
	border-bottom: 1px solid;
	border-left: 1px solid;
}
.green{
	background-color: green;
	border-bottom-right-radius: 300px;
	width: 250px;
	border-top: 1px solid;
	border-left: 1px solid;
}